services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    # Volumes removidos para usar o binário da imagem de produção
    # volumes:
    #   - ./backend:/app
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/serviceAccountKey.json
      - GOOGLE_CLOUD_PROJECT=cms-expansao-e10c4
      - RUST_LOG=debug
      - FIREBASE_SERVICE_ACCOUNT_PATH=/app/serviceAccountKey.json
    dns:
      - 8.8.8.8
      - 1.1.1.1
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    # Optional: Fix platform for Apple Silicon hosts if needed, though usually auto-detected
    # platform: linux/arm64

volumes:
  frontend_node_modules:
