rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper function to check if the user is an admin
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      // Allow users to read/write their own data, or Admins to access any user
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());

      match /rds/{document=**} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
      
      match /settings/{document=**} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
    }

    match /operations/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /settings/{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /scheduled_emails/{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
